.logo {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.light {
  display: block;
}

.dark {
  display: none;
}

:global(html[data-theme='dark']) .light {
  display: none;
}

:global(html[data-theme='dark']) .dark {
  display: block;
}

.onDark {
  display: none;
}

.onDarkVisible {
  display: block;
}
